@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(170, 35, 35);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main h1{
    font-size: 3em;
    color: rgb(116, 31, 31);
    text-align: center;
    padding: 30px;
}
main p{
    font-size: 1.5em;
    color: rgba(132, 42, 42, 0.685);
    text-align: center;
    padding-bottom: 30px;
}
div.container{
    background-color: white;
    width: 90vh;
    height: 40vh;
    border-radius:10px ;
}